@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>aPhotoADay</b> allows you to save one photo every day.</p>
    <p>Use this to remember the highlights of your days, or watch something you love change over time.</p>
    <p>Some ideas of things to photograph:</P>
    <div class="center-block centerList"><ul class="text-left" style="">
        <li>a child or pet</li>
        <li>scenery while on vacation</li>
        <li>a newly planted garden</li>
        <li>a home improvement project</li>
    </ul></div>
</div>
